@font-face {
  font-family: 'iconfont';  /* Project id 3594637 */
  src: url('//at.alicdn.com/t/c/font_3594637_bllxyqo26tj.woff2?t=1660721945094') format('woff2'),
       url('//at.alicdn.com/t/c/font_3594637_bllxyqo26tj.woff?t=1660721945094') format('woff'),
       url('//at.alicdn.com/t/c/font_3594637_bllxyqo26tj.ttf?t=1660721945094') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  /* font-size: .16rem; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}